.main-container {
  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    font-size: 3rem;
  }
}

.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  height: 50vh;
  gap: 1rem;
}

.login_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;

  input {
    width: 40vw;
    height: 6vh;
    font-size: 1.2rem;
  }
}

.login-btn {
  width: 20vw;
  height: 7vh;
  background-color: #333;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #555;
    transition: background-color 0.4s;
  }
}

.link {
  font-size: 2.5rem;
  color: #fff;
  margin-top: 2vh;
}

@media (max-width: 1024px) {
  .login_container {
    width: 80vw;
    height: 50vh;
  }
  .login_form input {
    width: 60vw;
    height: 5vh;
  }

  .login-btn {
    width: 30vw;
    height: 5vh;
  }
}

@media (max-width: 768px) {
  .login_container {
    width: 80vw;
    height: 50vh;
  }

  .login_form input {
    width: 60vw;
    height: 5vh;
  }

  .signup-btn {
    width: 30vw;
    height: 5vh;
  }

  .link {
    font-size: 2rem !important;
  }
}

@media (max-width: 480px) {
  .login_container {
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    margin-top: 2rem;

    h3 {
      font-size: 2rem;
    }
  }

  .login_form input {
    width: 60vw;
    height: 5vh;
  }

  .login-btn {
    width: 40vw;
    height: 7vh;
  }

  .link {
    font-size: 1.5rem !important;
  }
}
