.armor-title {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  font-size: 3rem;
}

.armor-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.armor-item {
  width: calc(33.333% - 20px);
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(93, 93, 93, 0.5);
  border-radius: 5%;
  color: #fff;

  img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  button {
    margin-top: auto;
    padding: 10px 20px;
    background-color: #373839;
    color: white;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: darken(#373839, 10%);
    transition: background-color 0.3s ease-in-out;
  }
}

.armor-item-price {
  font-size: 2rem;
}

@media (max-width: 768px) {
  .armor-item {
    width: calc(50% - 20px); // Two items per row on smaller screens
  }

  .armor-title {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .armor-item {
    width: 100%; // Full width for mobile
  }

  .armor-title {
    font-size: 1.5rem;
  }

  .armor-item img {
    width: 100%; // Full width images on mobile
    height: auto; // Maintain aspect ratio
  }
}

.modal-container h1,
.modal-container h3 {
  text-align: center;
  color: #fff;
}

.modal-image {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.modal-btns {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modal-btn {
  margin-top: auto;
  padding: 10px 20px;
  background-color: #373839;
  color: white;
  border: none;
  cursor: pointer;
}

.modal-btn:hover {
  background-color: darken(#373839, 10%);
  transition: background-color 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .modal-image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1024px) {
  .modal-btn {
    width: 50% !important;
    height: auto !important;
    gap: 10px !important;
  }
}

@media (max-width: 768px) {
  .modal-btns {
    flex-direction: column;
    align-items: center;
  }
  .modal-btn {
    width: 50% !important;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .modal-btns {
    flex-direction: column;
    align-items: center;
  }

  .modal-btn {
    width: 100% !important;
    gap: 10px;
  }
}
