/*Categories*/

.cat_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(68, 67, 67, 0.8);
  width: 100vw;
  margin-top: 0.5rem;

  .cat_ul {
    display: flex;
    flex-direction: row;
    gap: 6rem;

    li,
    a {
      font-size: 2rem;
      font-weight: 600;
      margin: 10px;

      text-decoration: none;

      cursor: pointer;
      transition: 0.4s;
      display: flex;

      a:hover {
        color: #000;
        transform: scale(1.1);
      }
    }
  }
}

@media (max-width: 1024px) {
  .cat_title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .cat_container {
    flex: 1; // Ensures the container takes full available space
    padding: 20px;
  }

  .cat_ul {
    justify-content: center; // Centers the items when fewer items are visible
    // Allows items to wrap to the next line if needed
    gap: 2rem; // Reduces the gap to make items less spread out
  }

  .cat_ul li,
  .cat_ul a {
    font-size: 1.2rem; // Slightly smaller font size for smaller screens
    margin: 0 0.5rem; // Reduces margin to bring links closer
    padding: 5px 10px; // Adds padding for better touch targets
  }

  .cat_ul a:hover {
    color: rgb(53, 119, 181);
    transform: scale(1.03); // Slightly lower scale effect
  }
}

@media (max-width: 768px) {
  .cat_ul li,
  .cat_ul a {
    display: none;
  }

  .cat_title {
    display: none;
    font-size: 2.5rem;
  }

  .cat_container {
    display: none;
  }
}

@media (max-width: 480px) {
  .cat_ul li,
  .cat_ul a {
    display: none;
  }

  .cat_title {
    display: none;
  }

  .cat_container {
    display: none;
  }
}
