.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  ul {
    list-style-type: none;
    padding: 0;

    display: flex;
    gap: 1rem;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0;
    padding: 1rem;
    // border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  h2 {
    font-size: 2.5rem;
    color: white;
  }

  h3 {
    font-size: 1.5rem;
    color: white;
  }
  h4 {
    font-size: 1.8rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 20%;
    text-align: center;
  }

  p {
    font-size: 1rem;
    color: white;
  }

  img {
    width: 100%;
    max-width: 300px;
    margin: 1rem 0;
  }
}

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link:hover {
  color: rgb(53, 119, 181);
  transform: scale(1.05);
}

.empty-cart {
  font-size: 2.5rem;
  font-weight: 600;

  margin-top: 1.5rem;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
