.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.cart-container h1 {
  font-size: 3rem;
  /* Large text on desktops */
  margin-bottom: 1rem;
}

.cart-container ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.cart-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.cart-container h2,
.cart-container h3,
.cart-container h4 {
  color: white;
}

.cart-container h2 {
  font-size: 2.5rem;
}

.cart-container h3 {
  font-size: 1.5rem;
}

.cart-container h4 {
  font-size: 1.8rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.cart-container p {
  font-size: 1rem;
  color: white;
}

.cart-container img {
  width: 100%;
  max-width: 300px;
  margin: 1rem 0;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.link-container {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: -1rem !important;
}

.link {
  &:hover {
    color: rgb(53, 119, 181);
    transform: scale(1.05);
  }
}

.empty-cart {
  font-size: 2.5rem !important;
  font-weight: 600 !important;
  margin-top: 1.5rem !important;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
  .cart-container h1,
  .cart-container h2 {
    font-size: 3rem;
  }

  .cart-container h3,
  .cart-container h4 {
    font-size: 1.4rem;
  }

  .cart-container p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .cart-container ul {
    flex-direction: column;
    /* Stack items vertically on small screens */
  }

  .cart-container h1 {
    font-size: 1.5rem;
    /* Smaller text on mobiles */
  }

  .cart-container h2 {
    font-size: 1.8rem;
  }

  .cart-container h3,
  .cart-container h4 {
    font-size: 1.2rem;
  }

  .cart-container p {
    font-size: 0.8rem;
  }

  .cart-container img {
    max-width: 200px;
    /* Smaller images on mobiles */
  }
  .link {
    margin-top: 2rem;
  }
}
