.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-container {
}

.links {
  width: 140px;
  height: 50px;
  margin: 0 10px;

  top: 10px;
  right: 10px;

  font-size: 20px;

  &:hover {
    cursor: pointer;
    background-color: rgb(53, 119, 181);
    transform: scale(1.05);
  }
}
