.home-page-main-contianer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media (min-width: 344px) and (max-width: 767px) {
  .home-page-main-contianer {
    height: 80vh;
  }
}
