.main_gallery_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  margin-top: 3rem;
}

.gallery_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.gallery_header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 2rem;
}

.gallery_img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
  transition: 0.4s;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
