.gallery {
  margin: auto;
  max-width: 1200px;
  padding: 20px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .gallery-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // Creates four columns
    grid-gap: 10px; // Adjust the gap between images as needed
    grid-auto-rows: calc((100vw - 40px) / 4 * 3 / 4);
    // Responsive adjustments
    @media (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr); // Three columns on smaller screens
      grid-auto-rows: calc((100vw - 30px) / 3 * 3 / 4);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: calc((100vw - 20px) / 2 * 3 / 4);
    }

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
      grid-auto-rows: calc((100vw - 10px) * 3 / 4);
    }
  }

  .gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
}
