.gallery-container {
  margin: auto;
  max-width: 1200px;
  padding: 20px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-size: 2rem;
  }

  @media (max-width: 1024px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .gallery-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: calc((100vw - 40px) / 4 * 3 / 4);

    // Responsive adjustments
    @media (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr) !important;
      grid-auto-rows: calc((100vw - 30px) / 3 * 3 / 4) !important;
      width: 80%;
      height: 80%;
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr) !important;
      grid-auto-rows: calc((100vw - 20px) / 2 * 3 / 4) !important;
    }

    @media (max-width: 480px) {
      grid-template-columns: 1fr !important;
      grid-auto-rows: calc((100vw - 10px) * 3 / 4) !important;
      width: 100% !important;
      height: 100% !important;
    }
  }

  .gallery-image {
    width: 100% !important;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
}

//gallery modal
.modal-container {
  h1 {
    text-align: center;
    color: #fff;
  }
}

.modal-btn {
  margin-top: auto;
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: #373839;
  color: white;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: darken(#353c43, 10%);
    transition: background-color 0.3s ease-in-out;
  }
}

@media (max-width: 480px) {
  .modal-image {
    width: 300px !important;
    height: 300px !important;
  }

  .modal-btn {
    width: 50% !important;
  }
}
