/* Embla Carousel*/
.embla {
  overflow: hidden;

  width: 650px;
  height: 550px;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
