.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  h3 {
    font-size: 3rem;
  }
}

.signup_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  height: 60vh;
  gap: 1rem;
  background-color: rgba(249, 245, 245, 0.258);
}

.signup_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;

  input {
    width: 40vw;
    height: 6vh;
    font-size: 1.2rem;
  }
}

.signup-btn {
  color: #fff;
  width: 20vw;
  background-color: rgba(249, 245, 245, 0.258);
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  margin: 10px 0;
  padding: 10px 20px;
  border: 2px solid transparent;
  transition: all 0.3s ease;

  &:hover {
    background-color: #111;
    color: #fff;
    border-color: #fff;
    scale: 1.1;
  }
}

.signup-link {
  font-size: 2.5rem;
  color: #fff;
  margin-top: 2vh;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    color: #111;
    scale: 1.1;
  }
}

@media (max-width: 1024px) {
  .signup_container {
    width: 80vw;
    height: 50vh;
  }

  .signup_form input {
    width: 60vw;
    height: 5vh;
  }

  .signup-btn {
    width: 30vw;
    height: 5vh;
  }
}

@media (max-width: 768px) {
  .signup_container {
    width: 80vw;
    height: 50vh;
  }

  .signup_form input {
    width: 60vw;
    height: 5vh;
  }

  .signup-btn {
    width: 30vw;
    height: 5vh;
  }

  .link {
    font-size: 2rem !important;
  }
}

@media (max-width: 480px) {
  .signup_container {
    flex-direction: column;
    justify-content: flex-start;
    width: 60vw;
    height: 50vh;
    margin-top: 2rem;

    h3 {
      font-size: 1.5rem;
    }
  }

  .signup_form input {
    width: 60vw;
    height: 5vh;
  }

  .signup-btn {
    width: 40vw;
    height: 7vh;
  }

  .link {
    font-size: 1.5rem !important;
  }
}
