@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Caveat", cursive;

  background-color: rgb(154, 144, 144);
}
