@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Caveat", cursive;
  background-image: url("./assets/fantasybackground.webp");
  object-fit: cover;
  color: white;
}
